<!DOCTYPE html>
<html>
  <head>
    <title>TimeTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.admin?  %>
        <%= link_to 'Admin', admin_root_path, class: "btn btn-info" %>
      <%end%>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-info") %>
    <% end  %>
    <%= yield %>
  </body>
</html>
